<div class="portlet-blue">
    <div class="title"><span>Welcome to BoilerplateJS!</span></div>
    <div class="content">
        <p>
            Congratulations! You are one step closer to creating your next big Javascript application!
            This demo shows you some of the common user scenarios that you can implement with BoilerplateJS.
            Checkout the product modules
            by navigating through the left navigation pane.
        </p>

        <h4>Product Module A</h4>

        <p>The panels under this section show the usage of KnockoutJS with BoilerplateJS.</p>
        <a href="#clickcounter">Click Counter</a> is a simple adaptation of knockoutJS’s <a
            href="http://knockoutjs.com/examples/clickCounter.html" target="_blank">Click Counter example</a>.<br/>
        <a href="#departments">Knockout MVVM</a> shows a more complex usage of knockoutJS’s MVVM
        architecture and its data bindings. The data for this panel is loaded from the server.

        <h4>Product Module B</h4>

        <p>The panels under this section show the usage some of the advanced patterns.</p>
        <a href="#sales">Complex Dashboard</a> uses a shared view model. There are two views in
        this dashboard that use the same shared view model, which enables them to respond to changes among the
        views.<br/>
        <a href="#employee/all">The List-Detail panels</a> show a list view and a detail view
        together with URL based navigation.

        <h4>Languages and Themes</h4>

        <p>Languages and Themes are two feature plugins that we developed for BoilerplateJS.</p>

        <p>We realized that for some applications, multilingual support is essential.
            On this demo we use RequireJS’s <a href="http://requirejs.org/docs/api.html#i18n" target="_blank">i18n
                plugin</a>
            to manage two language packs.</p>

        <p>Presentation and styling should be separate from the rest of the logic of your code. Careful thought went
            into designing
            BoilerplateJS’s style sheet structure which allows us to change between themes seamlessly. Try changing
            into different
            themes from the top combo box.</p>

        <p>We strongly believe loose coupling is the key to maintainable and adaptable code,
            and that’s why we do not want to tie you up with a specific technology or library.
            To prove this point, we’ve implemented the language and themes modules using pure jQuery, and no
            Knockout bindings!</p>
    </div>
</div>

