<div class="black-title-with-bullet">
    <span>Main Menu</span>
</div>
<ul>
    <span class="menu-item" id="home"><a href="#">{{nls.home}}</a></span>
</ul>
<ul>
    <span class="menu-item" id="product-module-a">{{nls.productmodulea}}</span>
    <li>
        <a href="#clickcounter">{{nls.clickcounter}}</a>
    </li>
    <li>
        <a href="#departments">{{nls.departments}}</a>
    </li>
</ul>
<ul>
    <span class="menu-item" id="product-module-b">{{nls.productmoduleb}}</span>
    <li>
        <a href="#sales">{{nls.salesdashboard}}</a>
    </li>
    <li>
        <a href="#employee/all">{{nls.employees}}</a>
    </li>
</ul>